:host {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  padding: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.no-messages-text {
  font-size: 24px;
  font-weight: 300;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}

.hint-text {
  color: rgba(0, 0, 0, 0.38) !important;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}

.mail-list {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 416px;
}
