<div *ngIf="mails.length === 0" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
  <span class="no-messages-text hint-text">{{ 'No Messages'}}</span>
</div>
<div class="mail-list" *ngIf="!isClicked">
  <app-list-item *ngFor="let mail of mails" [mail]="mail" (click)="readMail(mail)"></app-list-item>
</div>
<div class="mail-list" *ngIf="isClicked">
  <app-mail-list-item *ngFor="let mail of mails" [mail]="mail" [current]="currMail" (click)="readMail(mail)"></app-mail-list-item>
</div>