<div *ngIf="!mail" fxLayout="column" fxLayoutAlign="center center" fxFlex>
  <mat-icon class="s-128 mb-16 select-message-icon">
    email
  </mat-icon>
  <span class="select-message-text hint-text">
    <span>{{ 'Select a message to read' }}</span>
  </span>
</div>

<div *ngIf="mail">

  <div class="mail-header" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="subject" flex>{{mail.subject}}</div>
  </div>

  <div class="mail-content">

    <div class="info" fxLayout="row" fxLayoutAlign="space-between start">

      <div fxFlex fxLayout="column" fxLayoutAlign="start start">

        <div fxLayout="row" fxLayoutAlign="start start">

          <div>
            <div class="avatar" ms-random-class="vm.colors">
              {{mail.cp_name[0] | titlecase}}
            </div>
          </div>

          <div fxLayout="column" fxLayoutAlign="start start">

            <div class="name">
              {{mail.cp_name | titlecase}}
            </div>

            <div class="to" fxLayout="row" fxLayoutAlign="start center">
              <div class="to-text">to</div>
              <div class="to-text">{{'Admin' | titlecase}}</div>
            </div>
          </div>
        </div>

        <a class="toggle-details" (click)="showDetails = !showDetails">
          <span *ngIf="!showDetails">Show Details</span>
          <span *ngIf="showDetails">Hide Details</span>
        </a>

        <div *ngIf="showDetails" class="details" fxLayout="row" fxLayoutAlign="start start">

          <div fxLayout="column">
            <span class="title">From:</span>
            <span class="title">To:</span>
            <span class="title">Date:</span>
          </div>

          <div fxLayout="column">
            <span class="detail">{{mail.cp_name | titlecase}}</span>
            <span class="detail">{{'Admin' | titlecase}}</span>
            <span class="detail">{{mail.time | date}}</span>
          </div>
        </div>
      </div>
      <button mat-button [matMenuTriggerFor]="moreMenu" aria-label="More" class="mat-icon-button" (click)="$event.stopPropagation()">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #moreMenu="matMenu">
        <button mat-menu-item aria-label="Reply">
          <mat-icon>reply</mat-icon>
          <span>Reply</span>
        </button>
      </mat-menu>
    </div>

    <div class="message" [innerHTML]="mail.message"></div>

  </div>
</div>