:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  max-height: 416px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding: 28px;
}

.details {
  padding-top: 8px;
}

.title {
  font-weight: 500;
  margin-right: 6px;
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}

.detail {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}

.message {
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}

.mail-header {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.subject {
  font-size: 17px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}

.mail-content {
  padding: 24px 0;
}

.label {
  font-size: 11px;
  border-radius: 2px;
  margin: 4px 4px 4px 0;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  padding: 3px 8px;
  background-color: rgba(0, 0, 0, 0.08);
}

.label-color {
  width: 8px;
  height: 8px;
  margin-right: 8px;
  border-radius: 50%;
}

.info {
  padding-bottom: 16px;
}

.avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 8px 0 0;
  border-radius: 50%;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

.avatar {
  margin-right: 12px;
  background-color: #03a9f4;
}

.name {
  margin-right: 8px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}

.to {
  color: rgba(0, 0, 0, 0.54);
}

.toggle-details {
  user-select: none;
  text-decoration: underline;
  padding-top: 16px;
  color: #03a9f4;
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  cursor: pointer;
  font-weight: 400;
}

.to-text {
  margin-right: 4px;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  text-transform: lowercase;
}

.select-message-text {
  font-size: 24px;
  font-weight: 300;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}

.hint-text {
  color: rgba(0, 0, 0, 0.38) !important;
}

.s-128,
mat-icon.s-128 {
  font-size: 128px !important;
  width: 128px !important;
  height: 128px !important;
  min-width: 128px !important;
  min-height: 128px !important;
  line-height: 128px !important;
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0.54);
  display: inline-block;
  fill: currentColor;
}
