<div fxLayout="row" fxLayoutAlign="start center" *ngIf="mail.read=='true'">

    <div class="info" fxFlex FlexLayout="column">

        <div class="row-1" fxLayout="row" fxLayoutAlign="start center">

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
                <img width="24" height="24" class="avatar" src="assets/images/avatars/profile.jpg">
                <span class="name-read" *ngIf="mail.cp_name">{{mail.cp_name | titlecase}}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <div class="time message">{{mail.time | date}}</div>
            </div>
        </div>

        <div class="row-2" fxLayout="row" fxLayoutAlign="start center">

            <div fxLayout="column" fxLayoutAlign="start start">

                <div class="subject-read text-truncate">
                    {{mail.subject | slice:0:36 }}{{mail.subject.length > 36 ? '...' : ''}}
                </div>

                <div class="message-read text-truncate" *ngIf="mail?.message">
                    {{mail.message | slice:0:36 }}{{mail.message.length > 36 ? '...' : ''}}
                </div>

            </div>
        </div>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="start center" *ngIf="!(mail.read=='true')">

    <div class="info" fxFlex FlexLayout="column">

        <div class="row-1" fxLayout="row" fxLayoutAlign="start center">

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
                <img width="24" height="24" class="avatar" src="assets/images/avatars/profile.jpg">
                <span class="name" *ngIf="mail.cp_name">{{mail.cp_name | titlecase}}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <div class="time message">{{mail.time | date}}</div>
            </div>
        </div>

        <div class="row-2" fxLayout="row" fxLayoutAlign="start center">

            <div fxLayout="column" fxLayoutAlign="start start">

                <div class="subject text-truncate">
                    {{mail.subject | slice:0:36 }}{{mail.subject.length > 36 ? '...' : ''}}
                </div>

                <div class="message text-truncate" *ngIf="mail?.message">
                    {{mail.message | slice:0:36 }}{{mail.message.length > 36 ? '...' : ''}}
                </div>

            </div>
        </div>
    </div>
</div>