:host {
  flex-shrink: 0;
  position: relative;
  padding: 16px 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  cursor: pointer;
  background: #fafafa;
}
.avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 8px 0 0;
  border-radius: 50%;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}
.row-1 {
  margin-bottom: 8px;
}
.name {
  font-size: 15px;
  font-weight: 600;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}
.subject,
.message {
  width: 100%;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}

.message {
  position: relative;
  color: rgba(0, 0, 0, 0.54);
}
.name-read {
  font-size: 15px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.54);
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}
.subject-read,
.message-read {
  width: 100%;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.54);
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}

.message-read {
  position: relative;
  color: rgba(0, 0, 0, 0.54);
}
