<div class="field">
  <form [formGroup]="eventCreationForm" fxLayout="column" class="eventForm" (ngSubmit)="onEventCreationSubmit()">
    <mat-form-field>
      <input matInput formControlName="propertyName" placeholder="Property Name" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="address" placeholder="Location" required>
    </mat-form-field>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="8px">
      <mat-form-field fxFlex>
        <input matInput formControlName="city" placeholder="City" required>
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput formControlName="status" placeholder="Status" required>
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput formControlName="price" placeholder="Price" required>
      </mat-form-field>
    </div>
    <mat-form-field>
      <textarea matInput formControlName="overView" placeholder="Over View"></textarea>
    </mat-form-field>
  </form>
</div>