<div class="title-blue-container"></div>
<div class="title-container" fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column">
    <div fxFlex>
        <p class="title-text">Branding Requests</p>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <label for="search" class="mr-8">
            <mat-icon class="secondary-text">search</mat-icon>
        </label>
        <mat-form-field class="search">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
    </div>
</div>
<div class="table-content">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z12" class="table">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="selling_price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Selling Price </th>
            <td mat-cell *matCellDef="let element"> {{element.selling_price}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="unit_count">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Unit Count </th>
            <td mat-cell *matCellDef="let element"> {{element.unit_count}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="zonal_info">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Zonal Info </th>
            <td mat-cell *matCellDef="let element"> {{element.zonal_info | titlecase}} </td>
        </ng-container>
        <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> TimeStamp </th>
            <td mat-cell *matCellDef="let element"> {{element.timestamp}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5,10]" showFirstLastButtons></mat-paginator>
</div>