<div class="title-blue-container"></div>
<div class="title-container">
  <p class="title-text">Inbox</p>
</div>
<div class="content-card">
  <div class="toolbar">
    <div class="mail-selection" fxFlex="row" fxLayoutAlign="start center">
      <button mat-button [matMenuTriggerFor]="selectMenu">
        <span style="margin-right: 2px">Type</span>
        <mat-icon style="margin-left: 2px">keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #selectMenu="matMenu">
        <button mat-menu-item (click)="filterMails('All')">All</button>
        <button mat-menu-item (click)="filterMails('Read')">Read</button>
        <button mat-menu-item (click)="filterMails('Unread')">Unread</button>
      </mat-menu>
    </div>
    <!-- <div *ngIf="currentMail" fxHide.gt-xs>
      <button mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div> -->
  </div>
  <!-- CONTENT -->
  <div>
    <div class="content" fxLayout="row">
      <app-mails-list fusePerfectScrollbar [mails]="mails" (currentMail)="getCurrentMail($event)" fxFlex="40"></app-mails-list>
      <app-mail-details fusePerfectScrollbar [mail]="currentMail" fxFlex="60"></app-mail-details>
    </div>
  </div>
  <!-- / CONTENT -->
</div>