.title-blue-container {
  height: 165px;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  background: #03a9f4;
  background-size: cover;
  color: #ffffff;
}
.title-container {
  height: 100px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  background: #03a9f4;
  background-size: cover;
  color: #ffffff;
}

.title-text {
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  margin-left: 32px;
  font-size: 24px;
}

.content-card {
  position: relative;
  margin: 0 3% 0 3%;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.content {
  background-color: white;
}
.toolbar {
  height: 64px;
  padding-left: 24px;
  background-color: #ffffff;
}
