<div class="title-blue-container"></div>
<div class="title-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">

  <div fxFlex='50' fxLayout="row" fxLayoutAlign="start center" class="app-title">
    <button mat-icon-button [routerLink]="'/properties'">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <p class="prop-text">{{property.property_name}}</p>
  </div>

  <div fxFlex='50' fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap.xs="12px">
  </div>

</div>
<div class="tab-container">
  <div class="tab-content">
    <mat-tab-group>
      <mat-tab label="Basic Info">
        <app-basic [property]="property"></app-basic>
      </mat-tab>
      <mat-tab label="Amenities">
        <app-amenities></app-amenities>
      </mat-tab>
      <mat-tab label="Location">
        <app-location></app-location>
      </mat-tab>
      <mat-tab label="Floor Plans">
        <app-floor-plans></app-floor-plans>
      </mat-tab>
      <mat-tab label="Specifications">
        <app-specifications></app-specifications>
      </mat-tab>
      <mat-tab label="Progress">
        <app-progress></app-progress>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>