.title-container {
  height: 100px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  background-size: cover;
  color: #ffffff;
}
.title-blue-container {
  position: absolute;
  top: 65px;
  right: 0;
  left: 0;
  height: 151px;
  background-color: #03a9f4;
  background-size: cover;
}

.app-title {
  margin-left: 28px;
}

.prop-text {
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 24px;
  margin-left: 4px;
}

.tab-container {
  display: flex;
  margin-top: 4px;
  position: relative;
  width: 100%;
  justify-content: center;
}
.tab-content {
  background-color: white;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  width: 94%;
}

.field {
  margin-left: 4%;
  margin-right: 4%;
}

::ng-deep .mat-form-field-underline {
  background-color:#ced1cc !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: #c7c9cc;
}
::ng-deep .mat-select-arrow {
  color: #c7c9cc;
}
