.title-container {
  height: 100px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  background-size: cover;
  color: #ffffff;
}
.title-blue-container {
  position: absolute;
  top: 65px;
  right: 0;
  left: 0;
  height: 160px;
  background-color: #03a9f4;
  background-size: cover;
}

.title-text {
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  margin-left: 32px;
  font-size: 24px;
}

mat-select {
  color: #ffffff;
}


.table-content {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 5px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  position: relative;
}

.table {
  width: 100%;
}

.view-button {
  border: 1px solid #03a9f4;
  color: #03a9f4;
  margin: 8px 0;
}

::ng-deep .mat-form-field-underline {
  background-color:#ced1cc !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: #c7c9cc;
}
::ng-deep .mat-select-arrow {
  color: #c7c9cc;
}
::ng-deep .mat-select-value {
  color: white;
}