<div class="title-blue-container"></div>
<div class="title-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">

  <div fxFlex='50'>
    <p class="title-text">Properties</p>
  </div>

  <div fxFlex='50' fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="12px">

    <!-- SEARCH -->
    <div class="search-input-wrapper" fxFlex='50' fxLayout="row" fxLayoutAlign="start center">
      <label for="search" class="mr-8">
        <mat-icon class="secondary-text">search</mat-icon>
      </label>
      <mat-form-field class="table-form" floatPlaceholder="never">
        <input matInput id="search" (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
    </div>
    <!-- / SEARCH -->

    <div class="city-drop-down" fxFlex='50'>
      <form [formGroup]="cityDrop">
        <mat-form-field>
          <mat-select placeholder="Select City" formControlName="city" (ngModelChange)="citySelectionSubmit()">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let city of cities" [value]="city">{{city | titlecase}}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
  </div>
</div>
<div class="table-content">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z12" class="table">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> S No. </th>
      <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="property_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Property Name </th>
      <td mat-cell *matCellDef="let element"> {{element.property_name | titlecase}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
      <td mat-cell *matCellDef="let element"> {{element.location | titlecase}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button class="view-button" (click)="navgateTo(element)" routerLink="updateProperty">
          Edit
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5,10]" showFirstLastButtons></mat-paginator>
</div>