<div class="title-blue-container"></div>
<div class="title-container" fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column">
  <div fxFlex>
    <p class="title-text">Leads</p>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="start center">
    <label for="search" class="mr-8">
      <mat-icon class="secondary-text">search</mat-icon>
    </label>
    <mat-form-field class="search">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
  </div>
</div>
<div class="table-content">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z12" class="table">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> S. No. </th>
      <td mat-cell *matCellDef="let element; let i= index"> {{i+1}} </td>
    </ng-container>
    <!-- Position Column -->
    <ng-container matColumnDef="lead_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Lead Name </th>
      <td mat-cell *matCellDef="let element; let i= index"> {{element.lead_name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="lead_mobile">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Lead Mobile </th>
      <td mat-cell *matCellDef="let element"> {{element.lead_mobile}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="cp_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> CP Name </th>
      <td mat-cell *matCellDef="let element"> {{element.cp_name}} </td>
    </ng-container>
    <ng-container matColumnDef="cp_mobile">
      <th mat-header-cell *matHeaderCellDef> CP Mobile </th>
      <td mat-cell *matCellDef="let element"> {{element.cp_mobile}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5,10]" showFirstLastButtons></mat-paginator>
</div>