.title-container {
  height: 100px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  background-size: cover;
  color: #ffffff;
}

.title-blue-container {
  height: 161px;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  background: #03a9f4;
  background-size: cover;
  color: #ffffff;
}

.title-text {
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  margin-left: 32px;
  z-index: 1;
  font-size: 24px;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.table-content {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 5px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  position: relative;
}
.table {
  width: 100%;
}

.view-button {
  border: 1px solid #03a9f4;
  color: #03a9f4;
  margin: 8px 0;
}
.search {
  max-width: 400px;
}
