.boxItem{
  padding: 16px;
  box-sizing: border-box;
  flex-basis: 30%;
}
.boxHeader{
  text-align: center;
}
@media (min-width: 700px){
  .boxContainer {
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 1200px){
  .boxContainer {
    display: flex;
    justify-content: space-around
  }
}
.boxItem:nth-child(1) {background: darkcyan}
.boxItem:nth-child(2) {background: aqua}
.boxItem:nth-child(3) {background: lightseagreen}
