<div class="title-blue-container"></div>
<div class="title-container" fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column">
    <div fxFlex>
        <p class="title-text">New Registrations</p>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <label for="search" class="mr-8">
            <mat-icon class="secondary-text">search</mat-icon>
        </label>
        <mat-form-field class="search">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
    </div>
</div>
<div class="appointments-container">
    <div class="table-maintainer">

        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <!-- Position Column -->
            <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="primary_phone_number">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile Number </th>
                <td mat-cell *matCellDef="let element"> {{element.primary_phone_number}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="email_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email_id}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> View Details </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button class="btn" [routerLink]="'userdetails/'+element.primary_phone_number"> view</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5,10]" showFirstLastButtons></mat-paginator>
    </div>

</div>