.appointments-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.table-maintainer {
  width: 94%;
  position: relative;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}
table {
  max-height: 540px;
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.title-container {
  height: 100px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  background-size: cover;
  color: #ffffff;
}

.title-blue-container {
  height: 156px;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  background: #03a9f4;
  background-size: cover;
  color: #ffffff;
}

.title-text {
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  margin-left: 32px;
  z-index: 1;
  font-size: 24px;
}
.btn {
  border: 1px solid #03a9f4;
  margin: 8px 0px;
  color: #03a9f4;
}
.search {
  max-width: 400px;
}
