<div class="amenties">
    <div class="amin" fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button class="addNewBtn" (click)="addNewOne()">Add new</button>
        <!-- <button mat-raised-button color="primary" (click)="printAll()">printAll</button> -->
    </div>
    <div *ngFor="let field of fields; let i=index " fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center start">
        <mat-form-field class="mat-height">
            <input matInput (keyup)="onKey($event,i)" placeholder="Title">
        </mat-form-field>
        <mat-form-field class="example-chip-list mat-height">
            <mat-chip-list #chipList>
                <mat-chip *ngFor="let k=index; let amenity of fields[i].values" [selectable]="selectable" [removable]="removable" (removed)="remove(amenity,i,k)">
                    {{amenity}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Enter All Amenities" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event,i)">
            </mat-chip-list>
        </mat-form-field>
        <div class="removeBtn" fxLayoutAlign="center center" (click)="removeOne(i)">
            <span class="minus">-</span>
        </div>
    </div>

    <div *ngIf="isVisible">
        <p>{{fields|json}}</p>
    </div>
</div>