.example-chip-list {
  width: 70%;
}
.removeBtn {
  height: 32px;
  width: 32px;
  display: border-box;
  background: white;
  border: 1px solid black;
  margin-top: 12px;
  border-radius: 24px;
}
.minus {
  font-size: 24px;
}
.amin {
  margin: 16px 16px 8px 0;
}
.addNewBtn {
  color: white;
  background-color: #03a9f4;
}
