<div class="title-blue-container"></div>
<div class="title-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">

    <div fxFlex='50'>
        <p class="title-text">Top Performances</p>
    </div>

    <div fxFlex='50' fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="12px" fxLayoutGap.xs="12px">
        <!-- SEARCH -->
        <div class="search-input-wrapper" fxFlex='50' fxLayout="row" fxLayoutAlign="start center">
            <label for="search" class="mr-8">
                <mat-icon class="secondary-text">search</mat-icon>
            </label>
            <mat-form-field class="table-form" floatPlaceholder="never">
                <input matInput id="search" (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
        </div>
        <!-- / SEARCH -->
        <div class="city-drop-down" fxFlex='50'>
            <mat-form-field>
                <mat-select placeholder="Zonal Info" (selectionChange)="onSelected()" [(value)]="selected">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>

<div class="table-content">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z12" class="table">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="selling_price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Selling Price </th>
            <td mat-cell *matCellDef="let element"> {{element.selling_price}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="unit_count">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Unit Count </th>
            <td mat-cell *matCellDef="let element"> {{element.unit_count}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="zonal_info">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Zonal Info </th>
            <td mat-cell *matCellDef="let element"> {{element.zonal_info}} </td>
        </ng-container>
        <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> TimeStamp </th>
            <td mat-cell *matCellDef="let element"> {{element.timestamp}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5,10]" showFirstLastButtons></mat-paginator>
</div>