.title-container {
  height: 100px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  background-size: cover;
  color: #ffffff;
}
.title-blue-container {
  position: absolute;
  top: 65px;
  right: 0;
  left: 0;
  height: 161px;
  background-color: #03a9f4;
  background-size: cover;
}
.title-text {
  margin-left: 32px;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 24px;
}

.drop-content {
  margin-top: 32px;
}

.table-content {
  width: 94%;
  position: relative;
  margin: 6px 32px 0 32px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  background-color: white;
}
.table {
  width: 100%;
}
.table-form {
  width: 100%;
}
.search-input-wrapper {
  margin-left: 24px;
  max-width: 400px;
}
