<h1 mat-dialog-title>Please enter reject reason</h1>
<div mat-dialog-content>
    <mat-form-field style="width: 260px">
        <input matInput [(ngModel)]="data.reason" placeholder="Please enter reason">
    </mat-form-field>
</div>
<div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.reason" cdkFocusInitial>Ok</button>
</div>