<div class="title-blue-container"></div>
<div class="title-container" fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column">
    <div fxLayout="row" fxLayoutAlign="start center" class="app-title">
        <button mat-icon-button [routerLink]="'/newRegistrants'">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <p class="new-reg-text">User Details</p>
    </div>
</div>
<div class="info" fxLayout="column">
    <div fxLayout="row" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap.xs="16px">
        <div fxFlex="70" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
            <img width="24" height="24" class="avatar" src="assets/images/avatars/profile.jpg">
            <div fxLayout="column">
                <span class="font">{{user.name}}</span>
                <span class="font">{{user.primary_phone_number}}</span>
                <span class="font">{{user.email_id}}</span>
            </div>
        </div>
        <div fxFlex="30">
            <div fxLayout="row">
                <button mat-button class="approve-btn" (click)="onButtonClick()">Approve</button>
                <button mat-button class="reject-btn" (click)="openReasonDialog()">Reject</button>
            </div>
        </div>
    </div>

    <div class="bf"></div>
    <div class="subBoxes" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutAlign="space-around stretch">
        <mat-card class="boxItem" fxFlex>
            <mat-card-title class="card-title">Personal Details</mat-card-title>
            <table class="table">
                <tr>
                    <td>
                        <span class="hint">Adhaar No</span>
                    </td>
                    <td>
                        <span class="actual-text">{{user.adhaar_card}}</span>
                    </td>
                    <td>
                        <i class="material-icons pic" (click)="openDialog('assets/images/House.jpg')">image</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="hint">Pan No</span>
                    </td>
                    <td>
                        <span class="actual-text">{{user.pan_card}}</span>
                    </td>
                    <td>
                        <i class="material-icons pic" (click)="openDialog('assets/images/pan-card.jpg')">image</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="hint">Reg No</span>
                    </td>
                    <td>
                        <span class="actual-text">{{user.reg_number}}</span>
                    </td>
                    <td>
                        <i class="material-icons pic" (click)="openDialog('assets/images/reg.png')">image</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="hint">Gst No</span>
                    </td>
                    <td>
                        <span class="actual-text">{{user.gst_number}}</span>
                    </td>
                    <td>
                        <i class="material-icons pic" (click)="openDialog('assets/images/GSTIN.jpg')">image</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="hint">Address</span>
                    </td>
                    <td>
                        <span class="actual-text">{{user.comm_address}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="hint">State</span>
                    </td>
                    <td>
                        <span class="actual-text">{{user.state}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="hint">City</span>
                    </td>
                    <td>
                        <span class="actual-text">{{user.city}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="hint">Pin Code</span>
                    </td>
                    <td>
                        <span class="actual-text">{{user.pincode}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="hint">No. of Employees</span>
                    </td>
                    <td>
                        <span class="actual-text">{{user.employee_count}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="hint">Years of Experience</span>
                    </td>
                    <td>
                        <span class="actual-text">{{user.experience_count}}</span>
                    </td>
                </tr>
            </table>
        </mat-card>
        <mat-card class="boxItem" fxFlex>
            <mat-card-title class="card-title">Bank Details</mat-card-title>
            <table class="table">
                <tr>
                    <td>
                        <span class="hint">Payee</span>
                    </td>
                    <td>
                        <span class="actual-text">{{user.payee_name}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="hint">A/cName</span>
                    </td>
                    <td>
                        <span class="actual-text">{{user.account_name}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="hint">Branch</span>
                    </td>
                    <td>
                        <span class="actual-text">{{user.branch}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="hint">IFSC</span>
                    </td>
                    <td>
                        <span class="actual-text">{{user.ifsc_code}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="hint">Signature</span>
                    </td>

                    <td>
                        <i class="sign material-icons pic" (click)="openDialog('assets/images/signature.png')">image</i>
                    </td>
                </tr>
            </table>
        </mat-card>
        <mat-card class="boxItem" fxFlex>
            <mat-card-title class="card-title">Rera Details</mat-card-title>
            <mat-card class="rera-table" *ngFor="let rera of user.rera_account_detail">
                <table>
                    <tr>
                        <td>
                            <span class="hint">Rera No</span>
                        </td>
                        <td>
                            <span class="actual-text">{{rera.rera_number}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="hint">Rera State</span>
                        </td>
                        <td>
                            <span class="actual-text">{{rera.rera_state}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="hint">Valid Till</span>
                        </td>
                        <td>
                            <span class="actual-text">{{rera.valid_till}}</span>
                        </td>
                    </tr>
                </table>
            </mat-card>
        </mat-card>
    </div>
</div>