
<div class="container">
       <div>
            <img src="{{data.res}}">
        </div>
        <div >
            <button class="close" mat-button (click)="onNoClick()">Close</button>
        </div>

</div>