.title-container {
  height: 100px;
  width: 100%;
  display: flex;
  position: relative;
  background: #03a9f4;
  align-items: center;
  background-size: cover;
  color: #ffffff;
}

.title-blue-container {
  height: 180px;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  background: #03a9f4;
  background-size: cover;
}
.rera-table {
  margin-top: 8px;
}
.new-reg-text {
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  margin-left: 8px;
  font-size: 24px;
}
td {
  line-height: 24px;
}
.subBoxes {
  margin: 20px 24px;
}
.card-title {
  font-size: 18px;
  color: #03a9f4;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}
.avatar {
  padding-left: 1%;
  width: 100px;
  min-width: 40px;
  height: 100px;
  line-height: 40px;
  margin: 0 8px 0 24px;
  border-radius: 50%;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

.pic {
  cursor: pointer;
}

.boxItem {
  padding: 16px;
  align-items: stretch;
  box-sizing: border-box;
  flex-basis: 28%;
}

.bf {
  border-bottom: 1px solid #dbdbdb;
  height: 1px;
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  align-self: center;
  width: 90%;
}
.info {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  padding-top: 1rem;
  margin-left: 3%;
  position: relative;
  margin-right: 3%;
  background: #ffffff;
}
.app-title {
  margin-left: 28px;
}
.font {
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}

.hint {
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}
.actual-text {
  font-size: 14px;
  margin-left: 16px;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}
.sign {
  margin-left: 16px;
}

.approve-btn {
  border: 1px solid darkgreen;
  color: darkgreen;
}
.reject-btn {
  margin-left: 2%;
  border: 1px solid darkred;
  color: darkred;
}
