mat-card {
  max-width: 340px;
  margin: 2em auto;
  text-align: center;
}
#login-container {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
  background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat;
  background-size: cover;
}
.signin-content {
  flex: 1;
  width: 100%;
}
.login {
  margin-top: 96px;
}
.full-width-input {
  width: 90%;
}
.logo {
  flex: 1;
  align-items: center;
  padding: 56px 0px 12px 0px;
  width: 100%;
}
.logo-tag {
  width: 270px;
}

.title {
  font-size: 16px;
  margin: 16px 0 44px 0;
}

.remember-forgot-password {
  font-size: 13px;
  margin-top: 16px;
  margin-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.remember-me {
  margin-bottom: 16px
}

.forgot-password {
  font-size: 13px;
  font-weight: 500;
  text-underline-style: none;
  margin-bottom: 16px
}

.submit-button {
  width: 220px;
  margin: 16px auto;
  display: block;
}
