<div id="login-container">
<div class="signin-content">
  <mat-card class="login">
    <div class="logo">
      <img class="logo-tag" src="assets/images/tvh_logo.svg">
    </div>
    <mat-card-content>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="title">PLEASE LOGIN TO CONTINUE</div>
        <mat-form-field class="full-width-input">
          <input matInput maxlength="10" placeholder="Mobile number" formControlName="userName" required/>
          <mat-error *ngIf="isFieldInvalid('userName')">
            Please enter valid mobile number
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="password" required/>
          <mat-error *ngIf="isFieldInvalid('userName')">
            Please enter your password
          </mat-error>
        </mat-form-field>
        <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
             fxLayoutAlign="space-between center">
          <mat-checkbox class="remember-me" aria-label="Remember Me">
            Remember Me
          </mat-checkbox>

          <a class="forgot-password" [routerLink]="'/dashboard'">
            Forgot Password?
          </a>
        </div>
        <button mat-raised-button color="primary" class="submit-button" [disabled]="formGroup.invalid">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
</div>
