<div *ngFor="let field of fields; let i=index ">
  <input (keyup)="onKey($event)" name="{{i}}" placeholder="{{field.name + i}}"/><button (click)="removeOne(i)">-</button>
</div>
<button (click)="addNewOne()">click</button>
<button (click)="printAll()">printAll</button>
<div *ngIf="isVisible">
  <p *ngFor="let field of fields">{{field.value}}</p>
</div>
