<div class="title-container">
  <p class="title-text">Commission Earned</p>
</div>
<div class="event-container">
  <mat-card class="event-content">
    <form [formGroup]="earningForm" fxLayout="column" class="eventForm" (ngSubmit)="onEventCreationSubmit()">

      <mat-form-field class="full-width-input eventFiled">
        <input matInput
               formControlName="cp_phone"
               placeholder="CP Mobile Number"
               required>
      </mat-form-field>

      <mat-form-field class="eventFiled">
        <mat-select placeholder="Month" formControlName="month" required>
          <mat-option>None</mat-option>
          <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width-input eventFiled">
        <input matInput
               formControlName="sellingPrice"
               placeholder="Selling Price"
               required>
      </mat-form-field>

      <mat-form-field class="full-width-input eventFiled">
        <input matInput
               formControlName="commission"
               placeholder="Commission Expected"
               required>
      </mat-form-field>

      <div class="File uploadEvent">
        <input maInput type="file" accept=".png, .jpeg, .gif, .jpg">
      </div>
      <button mat-raised-button class="mat-primary save-button"
              [disabled]="earningForm.invalid">SAVE
      </button>
    </form>

  </mat-card>
</div>
