.title-container{
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #03a9f4;
  background-size: cover;
  color: #ffffff;
}

.title-text{
  font-family: Roboto,'Helvetica Neue',Arial,sans-serif;
  padding-left: 16px;
  font-size: 24px;
}
.event-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.event-content{
  display: flex;
  padding-top: 4%;
  padding-bottom: 3%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3%;
  align-self: center;
  width: 70%;
}

.eventForm{
  width: 80%;
}

.save-button{
  width: 40%;
  margin-top: 2%;
  align-self: center;
}

.start-picker{
  margin-right: 4px;
}

.eventFiled{
  margin-top: 1%;
}
