<div class="amenties">
    <div *ngFor="let field of fields; let i=index " fxLayout="row" fxLayoutGap="16px" class="specs">
        <input type="file" placeholder="name">
    </div>
    <button mat-raised-button class="addNewBtn" (click)="addNewOne()">Add new</button>

    <div *ngIf="isVisible">
        <p>{{fields|json}}</p>
    </div>
</div>