<div class="amenties">
    <div class="amin" fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button class="addNewBtn" (click)="addNewOne()">Add new</button>
        <!-- <button mat-raised-button color="primary" (click)="printAll()">printAll</button> -->
    </div>
    <div *ngFor="let field of fields; let i=index " fxLayout="row" fxLayoutGap="16px" class="specs">
        <mat-form-field class="title_inp">
            <input matInput (keyup)="onTitle($event,i)" placeholder="Title">
        </mat-form-field>
        <mat-form-field class="example-chip-list">
            <textarea matInput (keyup)="onValue($event,i)" placeholder="Description"></textarea>
        </mat-form-field>
        <div class="removeBtn" fxLayoutAlign="center center" (click)="removeOne(i)">
            <span class="minus">-</span>
        </div>
    </div>

    <div *ngIf="isVisible">
        <p>{{fields|json}}</p>
    </div>
</div>