<div class="title-container">
  <p class="title-text">Create an Event</p>
</div>
<div class="event-container">
  <mat-card class="event-content">
    <form [formGroup]="eventCreationForm" fxLayout="column" class="eventForm" (ngSubmit)="onEventCreationSubmit()">

      <mat-form-field class="full-width-input eventFiled">
        <input matInput formControlName="eventName" placeholder="Event Name" required>
      </mat-form-field>

      <mat-form-field class="eventFiled">
        <input matInput #description formControlName="description" placeholder="Description" required/>
        <mat-hint align="end">{{description.value.length}} / 500</mat-hint>
      </mat-form-field>

      <mat-form-field class="full-width-input eventFiled">
        <input matInput formControlName="location" placeholder="Location" required>
      </mat-form-field>

      <div class="dates eventFiled" fxLayout="column" fxLayout.gt-xs="row">

        <mat-form-field class="mr-sm-24 start-picker" fxFlex>
          <input matInput [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" formControlName="startDatePicker" placeholder="Start Date Time"
            name="date_time">
          <owl-date-time #dt1></owl-date-time>
        </mat-form-field>

        <mat-form-field fxFlex>
          <input matInput [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" formControlName="dueDatePicker" placeholder="End Date Time">
          <owl-date-time #dt2></owl-date-time>
        </mat-form-field>

      </div>
      <div class="File uploadEvent">
        <input maInput type="file" accept=".png, .jpeg, .gif, .jpg">
      </div>
      <button mat-raised-button class="mat-primary save-button" [disabled]="eventCreationForm.invalid">SAVE
      </button>
    </form>

  </mat-card>
</div>