<div class="boxContainer">

  <div class="subBoxContainerOne">
    <div class="title-container">
      <p class="title-text">Dashboard</p>
    </div>

    <div class="subBoxes">
      <mat-card class="boxItem">
        <mat-card-title class="card-title">Inbox</mat-card-title>
        <mat-card-content class="card-content">492</mat-card-content>
      </mat-card>
      <mat-card class="boxItem">
        <mat-card-title class="card-title">New registrations</mat-card-title>
        <mat-card-content class="card-content">87k</mat-card-content>
      </mat-card>
      <mat-card class="boxItem">
        <mat-card-title class="card-title">Appointments</mat-card-title>
        <mat-card-content class="card-content">882</mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="subBoxContainerTwo">

                                <div class="pl-16 pr-8 py-16" fxLayout="row" fxLayoutAlign="space-between center">

                                <div class="h3">{{dateNow | date: 'EEEE, HH:mm:ss'}}</div>

                                <div>
                                    <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="more">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>

                                    <mat-menu #moreMenu="matMenu">
                                        <button mat-menu-item aria-label="Flip widget">
                                            Details
                                        </button>
                                    </mat-menu>
                                </div>
                            </div>

                            <div class="p-16 pb-24" fxLayout="column" fxLayoutAlign="center center">
                                <div class="h1 secondary-text">
                                    <span>{{dateNow | date: 'MMMM'}}</span>
                                </div>

                                <div class="font-size-72 line-height-88 secondary-text font-weight-400">
                                    {{dateNow | date: 'd'}}
                                </div>

                                <div class="h1-b secondary-text">
                                    <span>{{dateNow | date: 'y'}}</span>
                                </div>
                            </div>

                            <mat-divider></mat-divider>
                        <!-- / Front -->
    
    <div class="fuse-widget-front">
      <div class="pl-16 pr-8 py-16" fxLayout="row" fxLayoutAlign="space-between center">

          <div class="h4" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="mr-8">place</mat-icon>
              <span class="compass">{{city}}</span>
          </div>

          <div class="h4">
              <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="more">
                  <mat-icon>more_vert</mat-icon>
              </button>

              <mat-menu #moreMenu="matMenu">
                  <button mat-menu-item aria-label="Flip widget">
                      Details
                  </button>
              </mat-menu>
          </div>
      </div>

      <div class="p1-16 pb-32" fxLayout="column" fxLayoutAlign="center center">

          <div fxLayout="row" fxLayoutAlign="center center">
              <img src="assets/images/raining.svg">
              <span class="compass">
                  {{temp1 | number: '1.1-1'}} &#8451;
              </span>
          </div>
      </div>

      <div class="grey-300-bg p-16" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxLayout="row" fxLayoutAlign="start center">
                <span class="simple-svg icon:mdi-weather-windy-variant icon-inline:false"></span>
                <span class="compass">{{wind}} mph</span>
              
          </div>

          <div fxLayout="row" fxLayoutAlign="start center">
             
              <i class="far fa-compass icon-compass"></i>
              <span class="compass">
                  {{compass | number:'1.1-1'}}
              </span>
          </div>

          <div fxLayout="row" fxLayoutAlign="start center">
                <span class="simple-svg icon:mdi-weather-cloudy icon-inline:false"></span>
              <span class="compass">
                  {{humidity}}%
              </span>
          </div>
      </div>

      <div class="py-16">
          <div class="py-16 px-24" fxLayout="row" fxLayoutAlign="space-between center">
              <span class="h4-1">Min Temp</span>
              <div fxLayout="row" fxLayoutAlign="start center">
                 
                  <span class="h2">{{min_temp | number:'1.1-1'}} &#8451;</span>

              </div>
          </div>
          <div class="py-16 px-24" fxLayout="row" fxLayoutAlign="space-between center">
                <span class="h4-1">Max Temp</span>
                <div fxLayout="row" fxLayoutAlign="start center">
                   
                    <span class="h2">{{max_temp | number:'1.1-1'}} &#8451;</span>
  
                </div>
            </div>
      </div>

      <mat-divider class="view"></mat-divider>

  </div>
  </div>
</div>