.boxItem{
  padding: 16px;
  box-sizing: border-box;
  flex-basis: 28%;
  margin-top: 1em;
}
.boxItemTwo{
  padding: 16px;
  box-sizing: border-box;
  flex-basis: 90%;
  margin-top: 1em;
}

.title-container{
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #03a9f4;
  background-size: cover;
  color: #ffffff;
}
.compass{
  margin-left: 8px;
}

.title-text{
  font-family: Roboto,'Helvetica Neue',Arial,sans-serif;
  padding-left: 16px;
  font-size: 24px;
}

.card-title {
  font-size: 14px;
  font-family: Roboto,'Helvetica Neue',Arial,sans-serif;
}
.card-content {
  box-sizing: border-box;
  display: block;
  font-size: 54px;
  font-weight: 300;
  font-family: Roboto,'Helvetica Neue',Arial,sans-serif;
  text-align: center;
}
@media (min-width: 700px){
  .boxContainer {
    display: flex;
    height: 90%;
    margin-top: 1px;
    background-color: #f5f5f5;
    justify-content: space-around
  }
  .subBoxContainerOne{
    box-sizing: border-box;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
  }
  .subBoxes{
    box-sizing: border-box;
    display: flex;
    margin-top: 0.5em;
    margin-left: 0.7%;
    margin-right: 0.7%;
    justify-content: space-around;
    flex-direction: row;
  }
  .subBoxContainerTwo{
    box-sizing: border-box;
    flex-basis: 30%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 1em;
  }
}
@media (min-width: 1200px){
  .boxContainer {
    display: flex;
    height: 90%;
    margin-top: 1px;
    background-color: #f5f5f5;
    justify-content: space-around
  }
  .subBoxContainerOne{
    box-sizing: border-box;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
  }
  .subBoxes{
    box-sizing: border-box;
    display: flex;
    margin-top: 0.5em;
    margin-left: 0.7%;
    margin-right: 0.7%;
    justify-content: space-around;
    flex-direction: row;
  }
  .subBoxContainerTwo{
    box-sizing: border-box;
    width:100%;
    flex-basis: 30%;
    margin-top: 1em;
  }
}
/*.boxItem:nth-child(1) {background: darkcyan}*/
/*.boxItem:nth-child(2) {background: aqua}*/
/*.boxItem:nth-child(3) {background: lightseagreen}*/
.subBoxContainerTwo div {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}
 .fuse-widget-front {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
  visibility: visible;
  width: 100%;
  opacity: 1;
  z-index: 10;
  border-radius: 2px;
  transition: transform 0.5s ease-out 0s, visibility 0s ease-in 0.2s, opacity 0s ease-in 0.2s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}
.fuse-widget-back {
  display: block;
  position: absolute;
  top: 12px;
  right: 12px;
  bottom: 12px;
  left: 12px;
  overflow: hidden;
  visibility: visible;
  opacity: 0;
  z-index: 10;
  transition: transform 0.5s ease-out 0s, visibility 0s ease-in 0.2s, opacity 0s ease-in 0.2s;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.fuse-widget-back [fuseWidgetToggle] {
  position: absolute;
  top: 0;
  right: 0;
}

.h3{
  padding:12px;
  margin-left:3%;
  margin-right:3%;
  font-family: Roboto,'Helvetica Neue',Arial,sans-serif;
}

.p-16 .h1{
  padding-top: 20px;
  padding-bottom:4px;
  font-size: 24px;
  font-family: Roboto,'Helvetica Neue',Arial,sans-serif;
  color:#737577;
}
.p-16 .h1-b{
  padding-bottom: 24px;
  font-size: 24px;
  font-family: Roboto,'Helvetica Neue',Arial,sans-serif;
  color:#828385;
}
.font-size-72{
  font-size:72px;
  color:#656668;
  font-family: Roboto,'Helvetica Neue',Arial,sans-serif;
}
.h4{
  padding-top:24px;
  padding-left:1rem;
  color:#3b3b3d;
  font-family: Roboto,'Helvetica Neue',Arial,sans-serif;
}
.h4-1{
  padding-top:20px;
  padding-bottom: 16px;
  margin-left:8%;
  margin-right:8%;
  font-family: Roboto,'Helvetica Neue',Arial,sans-serif;
}
.h2{
  margin-left:0%;
  font-family: Roboto,'Helvetica Neue',Arial,sans-serif;
}



/* }
.fuse-widget-front {
  visibility: visible;
  opacity: 1;
  transform: rotateY(180deg);
}
 .fuse-widget-back {
  display: block;
  visibility: visible;
  opacity: 1;
  transform: rotateY(360deg);
} */
 .mat-form-field.mat-form-field-type-mat-select .mat-input-wrapper {
  padding: 16px 0;
}
 .mat-form-field.mat-form-field-type-mat-select .mat-input-wrapper .mat-input-infix {
  border: none;
  padding: 0;
}
 .mat-form-field.mat-form-field-type-mat-select .mat-input-underline {
  display: none;
}
.grey-300-bg{
  font-family: Roboto,'Helvetica Neue',Arial,sans-serif;
  padding-top:16px;
  padding-bottom:12px;
  padding-left:1rem;
  padding-right:1rem;
  background-color: #d1d3d6;
}
.p1-16{
  margin-top:10px;
  margin-bottom:20px;
  font-size: 30px;
  padding-top:10px;
  color:#85878a;
  font-family: Roboto,'Helvetica Neue',Arial,sans-serif;
}
.py-16{width:97%;}
img{
  width:40px;
  height:30px;
  color:#656668;
}
.view{
  visibility:hidden;
}