<h1 xmlns="http://www.w3.org/1999/html">Main screen</h1>
<mat-sidenav-container class="container">

  <!--SIDENAV BAR-->
  <mat-sidenav #drawer fixedInViewport="true" [mode]="(isHandset$ | async) ? 'over' : 'side'" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [opened]="!(isHandset$ | async)" class="side-nav-container">
    <mat-toolbar class="logo-toolbar">
      <img style="align-self: center" width="190" src="assets/images/tvh.svg">
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [class.active]="activeMenuItem=='Dashboard'" (click)="navigateTo('Dashboard')" routerLinkActive="active-link">
        <span>
          <mat-icon class="nav-link-icon">dashboard</mat-icon>
        </span>
        <span class="side-list-item">Dashboard</span>
      </a>
      <a mat-list-item [class.active]="activeMenuItem=='Inbox'" (click)="navigateTo('Inbox')" routerLinkActive="active-link">
        <span>
          <mat-icon class="nav-link-icon">email</mat-icon>
        </span>
        <span class="side-list-item">Inbox</span>
      </a>
      <a mat-list-item [class.active]="activeMenuItem=='Properties'" (click)="navigateTo('Properties')" routerLinkActive="active-link">
        <span>
          <mat-icon class="nav-link-icon">location_city</mat-icon>
        </span>
        <span class="side-list-item">Properties</span>
      </a>
      <a mat-list-item [class.active]="activeMenuItem=='Create an Event'" (click)="navigateTo('Create an Event')" routerLinkActive="active-link">
        <span>
          <mat-icon class="nav-link-icon">today</mat-icon>
        </span>
        <span class="side-list-item">Create an Event</span>
      </a>
      <a mat-list-item [class.active]="activeMenuItem=='New Registrations'" (click)="navigateTo('New Registrations')" routerLinkActive="active-link">
        <span>
          <mat-icon class="nav-link-icon">people</mat-icon>
        </span>
        <span class="side-list-item">New Registrations</span>
      </a>
      <!--<a mat-list-item [class.active]="activeMenuItem=='Appointments'" (click)="navigateTo('Appointments')" routerLinkActive="active-link">-->
      <!--<span>-->
      <!--<mat-icon class="nav-link-icon">folder</mat-icon>-->
      <!--</span>-->
      <!--<span class="side-list-item">Appointments</span>-->
      <!--</a>-->
      <a mat-list-item [class.active]="activeMenuItem=='Branding Request'" (click)="navigateTo('Branding Request')" routerLinkActive="active-link">
        <span>
          <mat-icon class="nav-link-icon">folder</mat-icon>
        </span>
        <span class="side-list-item">Branding Request</span>
      </a>
      <a mat-list-item [class.active]="activeMenuItem=='Earnings'" (click)="navigateTo('Earnings')" routerLinkActive="active-link">
        <span>
          <mat-icon class="nav-link-icon">attach_money</mat-icon>
        </span>
        <span class="side-list-item">Earnings</span>
      </a>
      <a mat-list-item [class.active]="activeMenuItem=='ManageLeads'" (click)="navigateTo('ManageLeads')" routerLinkActive="active-link">
        <span>
          <img class="nav-link-icon" src="../../../assets/images/icons/manage-leads.png" height="10" width="10" />
          <!-- <mat-icon class="nav-link-icon">today</mat-icon> -->
        </span>
        <span class="side-list-item">Manage Leads</span>
      </a>
      <a mat-list-item [class.active]="activeMenuItem=='Top-Performance'" (click)="navigateTo('Top-Performance')" routerLinkActive="active-link">
        <span>
          <mat-icon class="nav-link-icon">bar_chart</mat-icon>
        </span>
        <span class="side-list-item">Top Performances</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <!--/SIDENAV BAR-->

  <!--TOOLBAR AND COMPONENTS-->
  <mat-sidenav-content>

    <!--TOOLBAR-->
    <mat-toolbar style="background: #ffffff; color:#000000" class="toolbar-container">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <button mat-icon-button>
        <img width="24" height="24" src="assets/images/icons/notification.png">
      </button>
      <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
        <div fxLayout="row" fxLayoutAlign="center center">
          <img width="24" height="24" class="avatar" src="assets/images/avatars/profile.jpg">
          <span class="username mr-12" fxHide fxShow.gt-sm>Tata Admin</span>
          <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
        </div>
      </button>
    </mat-toolbar>
    <!--/TOOLBAR-->

    <!--COMPONENTS-->
    <router-outlet></router-outlet>
    <!--/COMPONENTS-->

  </mat-sidenav-content>
  <!--/TOOLBAR AND COMPONENTS-->

</mat-sidenav-container>

<mat-menu #userMenu="matMenu" [overlapTrigger]="false">

  <button mat-menu-item>
    <mat-icon>account_circle</mat-icon>
    <span>My Profile</span>
  </button>

  <button mat-menu-item class="">
    <mat-icon>mail</mat-icon>
    <span>Inbox</span>
  </button>

  <button mat-menu-item class="" (click)="goToLogout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </button>

</mat-menu>