.spacer {
  flex: 1 1 auto;
}
.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #efefef;
}

.user-button {
  min-width: 64px;
  height: 64px;
}

.nav-link-icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  line-height: 16px;
  margin-top: 4px;
  margin-right: 16px;
  color: white;
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
}

.mr-12 {
  margin-right: 12px !important;
}

mat-icon.s-16 {
  font-size: 16px !important;
  width: 16px !important;
  height: 16px !important;
  min-width: 16px !important;
  min-height: 16px !important;
  line-height: 16px !important;
}

.avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 8px 0 0;
  border-radius: 50%;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

mat-sidenav {
  width: 280px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.dashboard-element-icon {
  padding-right: 12px;
}

.circle {
  border-radius: 50%;
}

.shift .mt2 {
  cursor: pointer;
}

.with-bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  max-height: 130px;
}

.no-shadow {
  box-shadow: none !important;
  background-color: #ffffff;
}
.h1 {
  margin-left: 20%;
}

.toolbar-container {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.logo-toolbar {
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.side-nav-container {
  background-color: #2d323e;
  color: #ffffff;
}
.side-nav-container .mt-2 .shift {
  margin-left: 80%;
}

.side-list-item {
  color: rgba(255, 255, 255, 0.87);
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
}

.side-nav-container .mt-3 {
  height: 560px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.mat-nav-list a.active {
  background-color: #03a9f4;
}

.no-shadow .label {
  height: 10%;
}

.active a {
  background-color: #1074ba;
}
