
.appointments-container{
    display: flex;
    width:100%;
    justify-content: center;
  }


.table-maintainer{
    padding-top: 4%;
    width:95%;
}
table { 
    height: 100%;
    width:100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }